
.footer-navigation-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
.footer-navigation-container h1{
    font-size: 30px;
    font-weight: 900;
    padding-left: 20px;
}
.footer-navigation-container ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-right: 20px;
}
.footer-navigation-container a{    
    color:aliceblue;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    
}
body{
    font-family: "Montserrat", sans-serif;
}
.footer-navigation-container p{
    color: aliceblue;
    padding-left: 20px;
}