form {
    max-width: 400px;
    margin: auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  #buttonCheck {
    background-color: #A6823E;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  #buttonCheck:hover {
    background-color: #A6823E;
  }
  
  .errorMessage {
    color: red;
    margin-top: 5px;
  }
  #CheckTittle{
    text-align: center;
    justify-content: center;
  }
.CheckLabel{
    font-weight: bold;
}